@import "../../variables.scss";

.calc-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 1.5rem;
    color: $text-color;
    width: 40%;
    padding: 1%;

    @media (max-width: 500px) {
        width: 80%;
    }
}