.themeA{
    background-color: rgb(127, 153, 74);
}

.themeB{
    background-color: rgb(126, 82, 167);
}

.themeC{
    background-color: cadetblue;
}

.app{
    width:  100vw;
    height: 100vh;
    overflow: hidden;
}