// Colors
$background: linear-gradient(#181A57, #2E346A);;
$btn-bkg:#F98136;
$btn-hover:rgb(210, 210, 210);
$btn-reset:rgb(73, 130, 235);
$btn-equals:#FA2752;
$text-color: white;
$box-shadow-active: inset 0px 0px 2px #f8f5f5;

// Border radius
$border-radius:5px;